<div id="<%= kitten.id %>">
    <h3><%= kitten.name %></h3>
    <p>
        Age: <%= kitten.age %>
        <br>
        Cuteness: <%= kitten.cuteness %>
        <br>
        Softness: <%= kitten.softness %>
    </p>
</div>